@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
  }
}
