@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #f0fdf4, #dcfce7);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom right, #14532d, #166534);
  }
}
